table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
}
td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
	background-color: rgb(146, 149, 187);
}
tr:nth-child(even) {
    background-color: #dddddd;      
}